// Never code in app.css
// Code here -> run "npm run --watch" to copy to app.css

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
}

