<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">K-SPM School</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thư báo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/result">Kết quả học tập</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meetsch">Lịch họp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thông tin học phí</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tùy chọn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/infor">Thông tin cá nhân</a>
          <a class="dropdown-item" href="/search">Tìm kiếm</a>
        <div class="dropdown-divider"></div>
          <a class="nav-link disabled" href="/login">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>