<!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-school"></i>
              <p>School</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Students
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
                </p>
            </a>
            <ul class="nav nav-treeview">
              {{#if isAdmin}}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-users-rectangle"></i>
                  <p>My class teaching</p>
                </a>
              </li>
              {{else}}
                <li class="nav-item">
                  <a href="/mygrade" class="nav-link">
                    <i class="fas fa-award"></i>
                    <p>My Grade</p>
                  </a>
                </li>
              <li class="nav-item">
                <a href="/myclass" class="nav-link">
                  <i class="fas fa-users-rectangle"></i>
                  <p>My Class</p>
                </a>
              </li>
              
              {{/if}}
              <li class="nav-item"></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>Teachers
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
                 
              {{#if isAdmin}}
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="fas fa-address-card"></i>
                  <p>Teacher Contact</p>
                </a>
                </li>
                {{else}}
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-chalkboard"></i>
                    <p>My teacher</p>
                  </a>
                </li>
              {{/if}}
              <li class="nav-item"></li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->