<!-- Sidebar -->
    <div class="sidebar sidebar sidebar-static">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          {{#if isAdmin}}
          <li class="nav-item">
            <a href="/timeteaching" class="nav-link">
              <i class="nav-icon fas fa-school"></i>
              <p>Time Teaching</p>
            </a>
          </li>
          {{else}}
          <li class="nav-item">
            <a href="/timetable" class="nav-link">
              <i class="nav-icon fas fa-school"></i>
              <p>Timetable</p>
            </a>
          </li>
          {{/if}}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Students
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
                </p>
            </a>
            <ul class="nav nav-treeview">
              {{#if isAdmin}}
              <li class="nav-item">
                <a href="/myclassteaching" class="nav-link">
<<<<<<< HEAD
                  <i class="fas fa-memory"></i>
                  <p>My class teaching</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/midtermscore" class="nav-link">
                  <i class="fas fa-align-center"></i>
                  <p>Middle Term Score</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/finaltermscore" class="nav-link">
                  <i class="fas fa-biohazard"></i>
                  <p>Final Term Score</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="fas fa-envelope-open-text"></i>
                  <p>Checking Test</p>
                </a>
              </li>
=======
                  <i class="fas fa-users-rectangle"></i>
                  <p>My class teaching</p>
                </a>
              </li>
>>>>>>> master
              {{else}}
                <li class="nav-item">
                  <a href="/mygrade" class="nav-link">
                    <i class="fas fa-award"></i>
                    <p>My Grade Subject</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/mygrade" class="nav-link">
                    <i class="fas fa-award"></i>
                    <p>My Grade Semester</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/mygrade" class="nav-link">
                    <i class="fas fa-award"></i>
                    <p>Checking Test</p>
                  </a>
                </li>
              <li class="nav-item">
                <a href="/myclass" class="nav-link">
                  <i class="fas fa-users-rectangle"></i>
                  <p>My Class</p>
                </a>
              </li>
              
              {{/if}}
              <li class="nav-item"></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chalkboard-teacher"></i>
              <p>Teachers
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
                 
              {{#if isAdmin}}
              <li class="nav-item">
                <a href="/teacher_contact" class="nav-link">
                  <i class="fas fa-address-card"></i>
                  <p>Teacher Contact</p>
                </a>
                </li>
                {{else}}
                <li class="nav-item">
                  <a href="/myteacher" class="nav-link">
                    <i class="fas fa-chalkboard"></i>
                    <p>My teacher</p>
                  </a>
                </li>
              {{/if}}
              <li class="nav-item"></li>
            </ul>
          </li>
          {{!-- {{#if isAdmin}}
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="fas fa-users"></i>
              <p>List Users</p>
            </a>
          </li>
          {{/if}} --}}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->