

<div class="card-body">
    <form action="enhanced-results.html" data-select2-id="12">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="classes">Lớp</label>
                    <select class="form-control select2" id="select-class-id"  style="width: 100%;" name="class-name">
                        <option data-id="0" selected="selected">Lớp</option>
                        <option data-id="1" selected="selected">12C6</option>
                        <option data-id="2" selected="selected">12C5</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="semesters">Học kỳ</label>
                    <select class="form-control select2" id="select-semester"  style="width: 100%;" name="semester">
                        <option data-id="0" selected="selected">Học kỳ</option>
                        <option data-id="1" selected="selected">2022.1</option>
                        <option data-id="2" selected="selected">2022.2</option>
                    </select>
                </div>
            </div>
            <div class="content-right" style="margin-left: auto;" >
                <a href="#" class="btn btn-primary btn-block w-20"><b>Xem</b></a>
            </div>            
        </div>
    </form>
    <div class="card">
<div class="card-header">
<h3 class="card-title text-center" style="margin-left: 395px;">Danh sách học sinh</h3>
</div>

<div class="card-body">
<div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                <thead>
                <tr>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Họ và tên</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Ngày sinh</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Giới tính</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Email</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mạc Văn Khánh</td>
                        <td>06/05/2002</td>
                        <td>Nam</td>
                        <td>khanhcshadu@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Nguyễn Văn Hùng</td>
                        <td>16/01/2002</td>
                        <td>Nam</td>
                        <td>nguyenvanhung@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Bùi Quốc Đạt</td>
                        <td>06/09/2002</td>
                        <td>Nam</td>
                        <td>buiquocdat@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Trương Tấn Phát</td>
                        <td>03/02/2002</td>
                        <td>Nam</td>
                        <td>truongtanphat@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Bùi Phương Thảo</td>
                        <td>26/09/2001</td>
                        <td>Nữ</td>
                        <td>buiphuongthao@gmail.com</td>
                    </tr>
                </tbody>
                
                </table>
</div>

</div>
</div>