<div class="card-body">
    <h3 class="text-center">Thông tin học sinh trong lớp</h3>
    <table id="tableListBorrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Họ tên</th>
                <th class="text-center">Email</th>
                <th class="text-center">Ngày sinh</th>
                <th class="text-center">Giới tính</th>
            </tr>
        </thead>
        <tbody>
            {{#each names}}
            <tr >
                <td class="text-center">{{this}}</td>            
                <td class="text-center">{{lookup ../emails @index}}</td>
                <td class="text-center">{{lookup ../dobs @index}}</td>
                <td class="text-center">{{lookup ../genders @index}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- /.card-body -->