<div class="card-body">
    <table id="tableListBorrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Họ tên</th>
                <th class="text-center">Email</th>
                <th class="text-center">Ngày sinh</th>
                <th class="text-center">Giới tính</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td class="text-center"></td>            
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.card-body -->