<div class="card-body">
    <table id="tableListBorrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Môn học</th>
                <th class="text-center">Học kỳ</th>
                <th class="text-center">Điểm giữa kỳ</th>
                <th class="text-center">Điểm cuối kỳ</th>
            </tr>
        </thead>
        <tbody>
            {{#each subject_ids}}
            <tr >
                <td class="text-center">{{this}}</td>            
                <td class="text-center">{{lookup ../semesters @index}}</td>
                <td class="text-center">{{lookup ../midterm_scores @index}}</td>
                <td class="text-center">{{lookup ../final_scores @index}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- /.card-body -->