<div class="card-body">
    <table id="tableListBorrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Subject</th>
                <th class="text-center">Semester</th>
                <th class="text-center">Midterm Score</th>
                <th class="text-center">Final Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each enrollments}}
            <tr >
                <td class="text-center">{{this.subject_id}}</td>
                <td class="text-center">{{this.semester}}</td>
                <td class="text-center">{{enrollments.midterm_score}}</td>
                <td class="text-center">{{enrollments.final_score}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- /.card-body -->