<div class="card-body">
    <table id="tableListBorrowers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Semester</th>
                <th>Midterm Score</th>
                <th>Final Score</th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>x</td>
                <td>y</td>
                <td>z</td>
                <td>c</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.card-body -->