<div class="card-body">
    <div>
    <h1 class="text-center">Thời khóa biểu</h1>
    <table id="tableListBorrowers" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center">Tiết</th>
          <th class="text-center">Thứ 2</th>
          <th class="text-center">Thứ 3</th>
          <th class="text-center">Thứ 4</th>
          <th class="text-center">Thứ 5</th>
          <th class="text-center">Thứ 6</th>
          <th class="text-center">Thứ 7</th>
        </tr>
      </thead>
      <tbody>
        <!-- Thêm dữ liệu lịch dạy của giáo viên vào đây -->
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">Toán</td>
          <td class="text-center">Vật Lý</td>
          <td class="text-center">Hóa học</td>
          <td class="text-center">Tiếng Anh</td>
          <td class="text-center">Lịch sử</td>
          <td class="text-center">Ngữ văn</td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td class="text-center">Địa lý</td>
          <td class="text-center">Công nghệ</td>
          <td class="text-center">Ngữ văn</td>
          <td class="text-center">Tn học</td>
          <td class="text-center">Hóa học</td>
          <td class="text-center">Tiếng anh</td>
        </tr>
        <tr>
          <td class="text-center">3</td>
          <td class="text-center">Sinh học</td>
          <td class="text-center">Tiếng anh</td>
          <td class="text-center">Ngữ văn</td>
          <td class="text-center">Toán</td>
          <td class="text-center">Sinh học</td>
          <td class="text-center">Vật lý</td>
        </tr>
        <tr>
          <td class="text-center">4</td>
          <td class="text-center">Thể dục</td>
          <td class="text-center">Toán</td>
          <td class="text-center">Sinh học</td>
          <td class="text-center">Thể dục</td>
          <td class="text-center">Địa lý</td>
          <td class="text-center">Sinh hoạt lớp</td>
        </tr>
        <tr>
          <td class="text-center">5</td>
          <td class="text-center">Văn</td>
          <td class="text-center">Hóa học</td>
          <td class="text-center">Lịch sử</td>
          <td class="text-center">Vật lý</td>
          <td class="text-center">Toán</td>
          <td></td>
        </tr>
        <!-- Kết thúc dữ liệu lịch dạy -->
      </tbody>
    </table>
    </div>
    <div>
        <h4>Ghi chú:</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center">Tiết</th>
                    <th class="text-center">Thời gian</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">6h45-7h30</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td class="text-center">7h35-8h20</td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td class="text-center">8h25-9h15</td>
                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td class="text-center">9h25-10h10</td>
                </tr>
                <tr>
                    <td class="text-center">5</td>
                    <td class="text-center">10h20-11h05</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>