<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khanhspm school</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="themes/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="themes/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="themes/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    
</head>
<body class="hold-transition sidebar-mini">
    <div class="wapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="img/preload.png" alt="AdminLTELogo" height="60" width="60">
        </div>
        {{> navbar}}
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-primary elevation-4">
          <!-- Brand Logo -->
          <a href="/home" class="brand-link">
            <span class="brand-text font-weight-light">School Management</span>
          </a>
          {{>sidebar}}  

        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          {{{body}}}
        </div>
        <!-- /.content-wrapper -->

        {{>footer}}
        
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-light">
          <!-- Control sidebar content goes here -->
          <div class="p-3">
            <!-- Content of the sidebar goes here -->
          </div>
        </aside>
        <!-- /.control-sidebar -->
    </div>

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="themes/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="themes/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="themes/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="themes/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="themes/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="themes/plugins/raphael/raphael.min.js"></script>
    <script src="themes/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="themes/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="themes/plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="themes/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="themes/dist/js/pages/dashboard2.js"></script>
    
</body>
</html>